@font-face {
    font-family: 'Srisakdi';
    font-style: normal;
    font-weight: 400;
    src: local('Srisakdi Regular'), local('Srisakdi-Regular'), url(https://fonts.gstatic.com/s/srisakdi/v2/yMJRMIlvdpDbkB0A-gq7dy0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v9/6xKtdSZaM9iE8KbpRA_hK1QN.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
*{
    padding: 0%;
    margin: 0;
}
h1{
    font-family: 'Srisakdi';
}
h5{
    color: white;
    font-family: 'Quicksand';
}
p{
    font-family: 'Quicksand';
    font-size: 16px;
    color: #DCDCDC;
    display: inline-block;
    position: relative;
    margin: 1em;
    text-shadow: 1px 1px #777777;
}
.nav-link{
    text-decoration: none;
    color: white;
}
.nav-link:hover{
    color: #777777;
}
body{
    background: url(../prism/prism.png);
}

.header{
    color: #ffd700;
    font-weight: bold;
}
hr{
    background: white;
}
form{
    color: white;
}